<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :precipIntensityStart %><br>
    <%= f.text_field :precipIntensityStart %>
  </div>
  <div class="field">
    <%= f.label :precipIntensityEnd %><br>
    <%= f.text_field :precipIntensityEnd %>
  </div>
  <div class="field">
    <%= f.label :precipProbabilityStart %><br>
    <%= f.text_field :precipProbabilityStart %>
  </div>
  <div class="field">
    <%= f.label :precipProbabilityEnd %><br>
    <%= f.text_field :precipProbabilityEnd %>
  </div>
  <div class="field">
    <%= f.label :precipType %><br>
    <%= f.text_field :precipType %>
  </div>
  <div class="field">
    <%= f.label :temperatureStart %><br>
    <%= f.number_field :temperatureStart %>
  </div>
  <div class="field">
    <%= f.label :temperatureEnd %><br>
    <%= f.number_field :temperatureEnd %>
  </div>
  <div class="field">
    <%= f.label :apparentTemperatureStart %><br>
    <%= f.number_field :apparentTemperatureStart %>
  </div>
  <div class="field">
    <%= f.label :apparentTemperatureEnd %><br>
    <%= f.number_field :apparentTemperatureEnd %>
  </div>
  <div class="field">
    <%= f.label :windSpeedStart %><br>
    <%= f.number_field :windSpeedStart %>
  </div>
  <div class="field">
    <%= f.label :windSpeedEnd %><br>
    <%= f.number_field :windSpeedEnd %>
  </div>
  <div class="field">
    <%= f.label :humidityStart %><br>
    <%= f.text_field :humidityStart %>
  </div>
  <div class="field">
    <%= f.label :humidityEnd %><br>
    <%= f.text_field :humidityEnd %>
  </div>
  <div class="field">
    <%= f.label :pressureStart %><br>
    <%= f.number_field :pressureStart %>
  </div>
  <div class="field">
    <%= f.label :pressureEnd %><br>
    <%= f.number_field :pressureEnd %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
